<table class="table table-condensed">
	<thead>
		<tr>
			<th>Template Name</th>
			<th>Report Type</th>
			<th># Rhythms</th>
			<th># Sections</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @templates.each do |template| %>
		<tr>
			<td><%= template.name %></td>
			<td><%= template.report_type.name %></td>
			<td><%= template.rhythms.count %></td>
			<td><%= template.sections.count %></td>
			<td><a href="/inspection_templates/show/<%= template.id %>" data-no-turbolink="true">View</a></td>	
		</tr>
		<% end %>
	</tbody>
</table>
